annotated-types
anyio
appnope
asttokens
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
distro
executing
filelock
fonttools
fsspec
h11
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
openai
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
setuptools
six
sniffio
stack-data
sympy
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
urllib3
wcwidth